@model Proiect_1_Sfranciog.Models.Procese

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procese</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locatie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locatie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data_Ora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data_Ora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezultat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezultat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_dosar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_dosar)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
